{{ define "header" }}
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>
{{end}}

{{ define "global-navigator" }}
<nav>
    <a href="/">HOME</a> |
    <a href="/new">NEW</a> |
    <a href="/signup">SIGN UP</a> |
    <a href="/login">LOGIN</a>
</nav>
{{end}}

{{ define "footer" }}
<footer>
    <p>wiki created by <a href="https://github.com/suzuken">@suzuken</a></p>
</footer>
{{end}}
