<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>
<body>
    <header>
        <h1>go-wiki</h1>
    </header>
    <nav>
        <a href="/">HOME</a> |
        <a href="/">LATEST</a>
    </nav>
    <article>
        {{template "article" .}}
    </article>
    <aside>
        <h2></h2>
    </aside>
    <footer>
        <p>wiki created by <a href="https://github.com/suzuken">@suzuken</a></p>
    </footer>
</body>
</html>
