<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login - go-wiki</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <article>
        <form action="/login" method="POST">
            <label for="email">email</label>
            <input type="text" name="email" value="">
            <label for="password">password</label>
            <input type="password" name="password" value="">
            <input type="submit" value="login">
        </form>
    </article>
    <footer>
        <p>wiki created by <a href="https://github.com/suzuken">@suzuken</a></p>
    </footer>
</body>
</html>
