<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "global-navigator" . }}
    <div class="container">
        <header>
            <h1>Login</h1>
        </header>
        <article>
            <form class="form-inline" action="/login" method="POST">
                {{ template "csrf-hidden" . }}
                <div class="form-group">
                    <label for="email">email</label>
                    <input class="form-control" type="text" name="email" value="">
                <div class="form-group">
                    <label for="password">password</label>
                    <input class="form-control" type="password" name="password" value="">
                </div>
                <button class="btn btn-default" type="submit" value="login">Login</button>
            </form>
        </article>
        {{ template "footer" .}}
    </div>
</body>
</html>
