<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "global-navigator" . }}
    <div class="container">
        <header>
            <h1>Logout</h1>
        </header>
        <article>
            <form action="/logout" method="POST">
                {{ template "csrf-hidden" . }}
                <input type="submit" value="logoutする">
            </form>
        </article>
        {{ template "footer" .}}
    </div>
</body>
</html>
