<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "global-navigator" . }}
    <div class="container">
        <header>
            <h1>New Article: go-wiki</h1>
        </header>
        <article>
            <form action="/save" method="POST">
                {{ template "csrf-hidden" . }}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title">
                </div>
                <label for="body">Body</label>
                <textarea class="form-control" name="body" cols="30" rows="10"></textarea>
                <button class="btn btn-default" type="submit" value="save">Submit</button>
            </form>
        </article>
        {{ template "footer" .}}
    </div>
</body>
</html>
